__pycache__/
*.pyc
*.pyo
*.pyd

# Large generated/data files
src/data/memmap/mds_ed.csv

*.pt
*.pth
*.ckpt
*.csv
checkpoints/**
!checkpoints/**/
!checkpoints/**/.gitkeep

logs/*

*.patch

*.sh

*.joblib
*.npy
*.npz